product/priv-app/Settings/Settings.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
OnePlus7TOxygen_14.I.06_OTA_006_all_1910122150_3d78775528acbe.zip
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
