product/priv-app/Settings/Settings.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
OnePlus7TOxygen_14.I.05_OTA_005_all_1909252229_1be2cbaa2.zip
